<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,338},{181,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,147}}</string>
                <key>sourceSize</key>
                <string>{181,147}</string>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,487},{170,159}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{170,159}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,376},{204,113}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{204,113}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,352},{216,153}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,153}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{198,195}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{198,195}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,190},{184,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,217}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{216,165}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{216,165}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,423},{80,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,352},{80,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,69}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,566},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,658},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,491},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,648},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,487},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,609},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,519},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,614},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>cheat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,713},{59,145}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{59,145}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,190},{73,151}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{73,151}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,423},{89,155}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{89,155}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,491},{97,161}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,161}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,720},{100,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,704},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{74,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,580},{76,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{74,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,490},{74,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,566},{53,135}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{53,135}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,704},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,648},{63,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,153}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,704},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,199},{137,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,184}}</string>
                <key>sourceSize</key>
                <string>{137,184}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,343},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,552},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{292,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{292,50}}</string>
                <key>sourceSize</key>
                <string>{292,60}</string>
            </dict>
            <key>progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,156},{266,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{266,32}}</string>
                <key>sourceSize</key>
                <string>{292,60}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,54},{272,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,100}}</string>
                <key>sourceSize</key>
                <string>{272,100}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{521,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,348}}</string>
                <key>sourceSize</key>
                <string>{521,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f0dadc41421055366fb35ef447c115:57a055f7d136ce6d71a509c672a69d91:dc13ac74c7f79498d79f7137503c7b82$</string>
            <key>textureFileName</key>
            <string>common1.png</string>
        </dict>
    </dict>
</plist>
